:root {
  --text: #08060d;
  --text-h: #08060d;
  --bg: #cecece;
  --border: #e5e4e7;
  --code-bg: #e1e0d9;
  --accent: #3ba0ff;
  --accent-bg: rgba(59, 177, 255, 0.9);
  --accent-border: rgba(59, 160, 255, 0.63);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font: 18px/145%;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


.roboto-flex-regular {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #f3f4f6;
    --bg: #484848;
    --border: #2e303a;
    --code-bg: #484848;
    --accent: #84bcfc;
    --accent-bg: rgba(8, 18, 32, 0.4);
    --accent-border: rgba(132, 184, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.1);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }

  .text-box {
  background-image: url("/skills_darkmode.jpg") !important;
  }
  .gh-text-box {
  background-image: url("/gh_dm.jpg") !important;
  }
  .xp-text-box {
  background-image: url("/dev_dm.jpg") !important;
  }

}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-size: cover;
  background-position: left;
}

h1, h2, h3, h4 {
  text-align: left;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;;
  font-weight: 500;
  color: var(--text-h);
}

p {
  margin: 0;
  text-align: left;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;
}

.text-box {
  padding: 20px;
  background-image: url("/skills.jpg");
  background-size: cover;
  background-position: left;
  margin-top: 20px;
  box-shadow: 10px 10px;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-container img {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

.text {
  margin: 20px 20px 20px 40%;
  padding-left: 40px;
}


.gh-text-box {
  padding: 20px;
  background-image: url("/gh_lm.jpg");
  background-size: cover;
  background-position: left;
  margin-top: 20px;
  box-shadow: 10px 10px;
}
.xp-text-box {
  padding: 20px;
  background-image: url("/dev_lm.jpg");
  background-size: cover;
  background-position: left;
  margin-top: 20px;
  box-shadow: 10px 10px;
}