:root {
  --text: #08060d;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #e1e0d9;
  --accent: #3ba0ff;
  --accent-bg: rgba(59, 177, 255, 0.9);
  --accent-border: rgba(59, 160, 255, 0.63);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font-family: 'Roboto Flex', sans-serif;
  font: 18px/145%;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --topology-bg: #cecece;
  --topology-particles: #0066cc;
}

/* mobile font scaling */
@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* DARK MODE (desktop default) */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #f3f4f6;
    --bg: #000000;
    --border: #2e303a;
    --code-bg: #484848;
    --accent: #84bcfc;
    --accent-bg: rgba(8, 18, 32, 0.4);
    --accent-border: rgba(132, 184, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: none;

    --topology-bg: #05010a;
    --topology-particles: #3ba0ff;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}


/* LAYOUT */
#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 8px;
}

p {
  margin: 0;
  text-align: left;
  font-weight: 100;
  border-radius: 10px;
  padding: 8px;
}

.intro-box {
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 40px;
  border-radius: 8px 8px 8px 8px;
  backdrop-filter: blur(4px);
  margin:12px;
  border: 1px solid var(--border);
}
.intro-text-and-image {
  display: flex;
  flex-direction: row;
}

.intro-text-and-image img {
  width: 250px;
  height: 250px;
}

.contacts {
}

/* BACKGROUND CARDS */
.text-box {
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 40px;
  border-radius: 8px 8px 8px 8px;
  backdrop-filter: blur(4px);
  margin:12px;
  border: 1px solid var(--border);
}
.text-and-image {
  display: flex;
  flex-direction: row;
}

.text-and-image img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-image {
  border-radius: 50%;
  margin-right: 8px;
  padding: 8px;
}
  /* MOBILE OVERRIDE (light) */
  @media (max-width: 874px) {
   
    .text-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
    }
    .text-and-image {
      display: flex;
      flex-direction: column;
    }
  
    .profile-container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .profile-image img {
      width: 150px;
      height: 150px;
      
    }
    .intro-box {
      display: flex;
      flex-direction: column;
      background-size:contain;
      align-items: center;
      margin-top: 40px;
      border-radius: 8px 8px 8px 8px;
      backdrop-filter: blur(4px);
      margin:12px;
      margin-bottom: 0px;
      border: 1px solid var(--border);
    }
    .intro-box h1 h2 {
      text-align: center;
    }
    .intro-text-and-image {
      display: flex;
      flex-direction: column;
      text-align: center;
      
    }

    .intro-text-and-image img {
      border-radius: 50%;
      max-width: 250px;
      height: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
    .contacts {
      margin-top: auto;
      margin-bottom: auto;
      padding: 8px;
    }
  }
  .text-and-image img{
  width: 250px;
  height: 250px;
  border-radius: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}